.video-section {
    padding: 80px 5%;
    background-color: var(--bg);
}

.video-wrapper {
    max-width: 900px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(168, 85, 247, 0.4);
    border: 2px solid #a855f7;
}

.video-wrapper video {
    width: 100%;
    display: block;
}

.video-description {
    text-align: center;
    margin-top: 30px;
    color: #ccc;
}
.section-title {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}