:root {
  --primary: #a855f7; /* البنفسجي المفضل لكِ */
  --bg: #050505;      /* الأسود السينمائي */
  --text: #ffffff;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}